<!DOCTYPE html>
<html lang="en">

<head>
    <title>How it works</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/icons/icon-48x48.png" />

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

   {{>navbar}}
    <!-- END nav -->

    <div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-start">
                <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
                    <p class="breadcrumbs mb-0"><span class="mr-3"><a href="/">Home
              <i class="ion-ios-arrow-forward"></i></a></span>
                        <span>How it works</span></p>
                    <h1 class="mb-3 bread">How it works</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="ftco-section bg-light">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-8 mb-5">

                    <form action="#" class="p-5 bg-white">

                        <div class="row form-group">
                            <h3>1. FILL IN OUR SIMPLE ORDER FORM</h3>
                            <p>It has never been easier to place your order. Fill in the initial requirements in the small order form located on the home page and press “continue” button to proceed to the main order form or press “order” button in the header
                                menu. Starting from there let our system intuitively guide you through all steps of ordering process. Submit detailed paper instructions, upload necessary files if needed and provide your contact information – you are almost
                                done!</p><br>
                            <h3>2. PROCEED WITH THE PAYMENT</h3>
                            <p>After ordering, you will receive a message which will let you know About the invoice you will be paying. All your payments are processed securely through Mobile-Money. This enables us to guarantee a 100% security of your funds
                                and process payments swiftly.</p><br>

                            <h3>3. EXPERT ASSIGNMENT</h3>
                            <p>Next, we match up your order details with the most qualified expert in your field. This process can take a few minutes up to a few hours. However, it highly depends on your deadline. Most of the time, we will assign your expert
                                as quickly as possible to ensure that your order is completed on time.</p><br>

                            <h3>4. WRITING PROCESS</h3>
                            <p>Once we have found the most suitable expert for your assignment, they start reviewing your requirements for the paper. If the designated specialist has questions or needs clarifications, we will contact you right away. In other
                                case, they start working on a masterpiece just for you!</p><br>

                            <h3>5. DELIVERY</h3>
                            <p>Once finished, your final paper will be available through your email account. You will also receive a call notification to let you know that the work has been completed. Sometimes, the expert may leave a note for you about
                                the order in case there is any additional information that they need to give you.</p>
                        </div>

                        <div class="row form-group">

                        </div>


                        <div class="row form-group">
                            <div class="row form-group mb-5">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="font-weight-bold" for="fullname">Was this helpful?</label>
                                    <p>What are you waiting for? Let us do the work for you.</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                               <a href="/orderForm" class="btn btn-primary py-2 px-5">Order Now</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-4">
                    <div class="p-4 mb-3 bg-white">
                        <h3 class="h5 text-black mb-3">Contact Info</h3>
                        <p class="mb-0 font-weight-bold">Address</p>
                        <p class="mb-4">Kigali, Rwanda</p>

                        <p class="mb-0 font-weight-bold">Phone</p>
                        <p class="mb-4"><a href="#">+250 788 596 281</a></p>

                        <p class="mb-0 font-weight-bold">Email Address</p>
                        <p class="mb-0"><a href="#"><span class="__cf_email__" data-cfemail="671e081215020a060e0b2703080a060e094904080a">[info@umukoro.com&#160;protected]</span></a></p>

                    </div>

                    <div class="p-4 mb-3 bg-white">
                        <h3 class="h5 text-black mb-3">Did You Know?</h3>
                        <p>We have special discounts for returning clients, please check if you are elligible for a customer discount.</p>
                        <p><a href="/discountPolicy" class="btn btn-primary  py-2 px-4">Learn More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- ------------------ Footer Section -------------------------------- -->

    {{>footer}}

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>

</body>

</html>