<!DOCTYPE html>
<html lang="en">

<head>
    <title>Money Back Guarantee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/icons/icon-48x48.png" />

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    {{>navbar}}
    <!-- END nav -->

    <div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-start">
                <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
                    <h1 class="mb-3 bread">Money Back Guarantee</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="ftco-section bg-light">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-8 mb-5">

                    <form action="#" class="p-5 bg-white">

                        <div class="row form-group">
                            <h3>Money Back Guarantee</h3>
                            <p>Thank you for choosing our services. We also want to make sure you have a rewarding experience while you’re exploring, evaluating, and purchasing our products. The main thing to remember is that by placing an order at Umukoro.rw,
                                you agree to the terms set forth below along with <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>.</p>
                            <p>We understand, however, that sometimes a product may not be what you expected it to be. In this unlikely event, we invite you to review the following terms related to returning a product:
                                <ul>
                                    <li>There is a payment issue (identical orders, double payment, etc.).</li>
                                    <li>We are not able to find an expert for your order.</li>
                                    <li>In case the order is late, it can be cancelled. Customer gives up all rights to use any material delivered during the order progress. Writer stops working on the paper. (Does not apply to revisions)</li>
                                    <li>The research is off-topic or does not match the requirements that were clearly stated by the client in the order description (such cases fall under QAD jurisdiction).</li>
                                </ul>
                            </p>
                            <p>Kindly be informed that if you are not satisfied with the overall quality of the paper you have received, you may request a partial or full refund. All the refund requests are processed on the case-to-case basis, which means
                                that every paper is unique and demands a flexible approach. In this case, we will send your paper to our independent Quality Assurance Department to have it graded and proofread.</p>
                            <p>There are several important points you need to consider when setting the order on dispute:
                                <ul>
                                    <li>In case of a dispute, you have to provide strong reasons, facts, and examples to back up your claim.</li>
                                    <li>It may take up to 48 hours for us to resolve the dispute: communicate with the writer, send the paper for evaluation, etc. Sometimes we may ask for additional materials or evidence to support your request.</li>
                                    <li>Each case is reviewed individually; every decision concerning refund is taken after careful consideration. The refund percentage is suggested independently in each case.</li>
                                </ul>
                            </p>
                            <p>In case you cancel your order when the experts has already been assigned to it, we will request the completed draft from the expert (which is provided within 3 hours after your request is made) and decide on the refund amount
                                based on the latter. Please note, that the exact percentage of refund is decided individually for every order depending on the level of completion. Along with a refund, a client is eligible to receive an unfinished paper
                                that had been written by the time a cancellation request was received.
                            </p>
                            <p>We encourage our customers to contact our Customer Support Team via the Phone or Email in case you believe you can qualify for a refund or have other issues concerning your order. We shall review your case carefully and come
                                up with the most justified solution.</p>
                        </div>

                    </form>

                </div>

                <div class="col-lg-4">
                    <div class="p-4 mb-3 bg-white">
                        <h3 class="h5 text-black mb-3">All Policies</h3>
                        <p>
                            <ul>
                                <li><a href="/moneyBackGuarantee">Money Back Guarantee</a></li>
                                <li><a href="/privacyPolicy">Privacy Policy</a></li>
                                <li><a href="/revisionPolicy">Revision Policy</a></li>
                                <li><a href="/discountPolicy">Discounts Policy</a></li>
                                <li><a href="/termsAndConditions">Terms and Conditions</a></li>
                            </ul>
                        </p>
                        <p class="mb-0 font-weight-bold">Phone</p>
                        <p class="mb-4"><a href="#">+250 780 080 080</a></p>

                        <p class="mb-0 font-weight-bold">Email Address</p>
                        <p class="mb-0"><a href="#"><span class="__cf_email__" data-cfemail="671e081215020a060e0b2703080a060e094904080a">[email&#160;protected]</span></a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <!-- Footer Section-->

    {{>footer}}


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>

</body>

</html>