<!DOCTYPE html>
<html lang="en">

<head>
    <title>Revision Policy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/icons/icon-48x48.png" />

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    {{>navbar}}
    <!-- END nav -->

    <div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-start">
                <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
                    <h1 class="mb-3 bread">Revision Policy</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="ftco-section bg-light">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-8 mb-5">

                    <form action="#" class="p-5 bg-white">

                        <div class="row form-group">
                            <h3>Revision Policy</h3>
                            <p>
                                Although we provide premium quality academic assistance, it may be necessary to have the delivered product revised. You are entitled to request as many revisions as may be required to make the paper consistent and compliant with your instructions. We
                                offer a 14-day Revision Period for papers less than 30 pages and a 30-day period for papers more than 30 pages. In case a request for revision is not submitted within the stated period, we accept the fact that the client
                                is satisfied with the paper and requires no further actions to be taken in regards to the paper unless extra payment is provided or a new order is placed.
                            </p>
                            <p>
                                Every client is eligible for a revision if the revision request adheres to the following requirements: <br>
                                <ul>
                                    <li>The revision instructions you submit must be absolutely clear. In addition, they must not contradict the initial guidelines. Should our Quality Assurance Department decide that your original guidelines were followed,
                                        your request for revision shall not be processed. In this case, you will need to make a new order for proofreading/editing.</li>
                                    <li>No changes of the paper are allowed to be made by the customer before revision takes place.</li>
                                    <li>No other general terms and conditions are violated.</li>
                                    <li>48 hours (usually much less) should be allowed for the revision to be processed.</li>
                                </ul>
                            </p>

                            <p>
                                We reserve up to 12 hours for revisions if the urgency of the paper is 12 hours, 24 hours if the urgency of the paper is 24 hours, and 48 hours if the urgency of the paper exceeds 24 hours.
                            </p>
                        </div>
                    </form>

                </div>

                <div class="col-lg-4">
                    <div class="p-4 mb-3 bg-white">
                        <h3 class="h5 text-black mb-3">All Policies</h3>
                        <p>
                            <ul>
                                <li><a href="/moneyBackGuarantee">Money Back Guarantee</a></li>
                                <li><a href="/privacyPolicy">Privacy Policy</a></li>
                                <li><a href="/revisionPolicy">Revision Policy</a></li>
                                <li><a href="/discountPolicy">Discounts Policy</a></li>
                                <li><a href="/termsAndConditions">Terms and Conditions</a></li>
                            </ul>
                        </p>
                        <p class="mb-0 font-weight-bold">Phone</p>
                        <p class="mb-4"><a href="#">+250 780 080 080</a></p>

                        <p class="mb-0 font-weight-bold">Email Address</p>
                        <p class="mb-0"><a href="#"><span class="__cf_email__" data-cfemail="671e081215020a060e0b2703080a060e094904080a">[email&#160;protected]</span></a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
     <!-- Footer Section-->

    {{>footer}}

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>

</body>

</html>