<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table | UMUKORO.RW</title>
</head>
<body>

    
		<table>
			{{#each taskList}}
				<tr>
					<td>{{id}}
					</td>
					<td><a href="/">{{fname}}</a></td>
					<td>{{email}}</td>
				</tr>		
			{{/each}}
		</table>
		
</body>
</html>